body {
    font-family: Helvetica, sans-serif, serif;
    background-color: #f0f0f0;
}

image {
    margin-left: 20px;
}

div.content {
    max-width: 900px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
}

div.profile {
    display: flex;
}

div.info {
    margin-left: 20px;
}

div.container {
    align-items: center; 
    padding-left: 30px;
}

div.parent-container {
    display: flex;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

div.footer {
    margin-top: 20px;
    margin-bottom: 150px;
}

.border {
    border: 2px solid #333; /* You can change the color and width as needed */
}

.container-column {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.column {
    width: 45%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 5px;
}
